.home {
    .home-header {
        height: 50px;
        background-color: $header-color;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
    }

    .home-header-image {
        width: auto;
        height: 25px;

        margin-top: 15px;
    }

   .content {
      background-color: #FDFDFD;
      box-shadow: 0 0 10px rgba(0,0,0,.3);
   }
}
